body {
    background: url('../images/bg.jpg') repeat;
}

.main {
    background-color: #ffffff;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
    cursor: pointer;
}

.media-object {
    height: 40px;
    width: 40px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.page-left {
    border-right: 1px solid #eee;
}

.page-right {
    padding: 0 0 0 -10px;
}

.question-title {
    margin: 25px 0 0 15px;
}

.question-tag{
    margin-right: 5px;
}

.profile .section {
    margin-top: 15px;
}

.question hr {
    margin-right: 10px;
}

.community-menu {
    color: #999;
    font-size: 12px;
    margin-bottom: 15px;
}

.comment {
    margin: 10px 0;
}

.comment-body {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.comment-collapse {
    margin-top: 10px;
    border: solid 1px #eee;
    padding-top: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn-comment {
    margin-bottom: 10px;
    float: right
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: cornflowerblue;
}

.menu .icon:hover {
    color: cornflowerblue;
}

.jumbotron {
    margin: 30px;
    background: url('../images/bg.jpg') repeat;
    padding: 150px;
    text-align: center;
}

.question-related {
    line-height: 20px;
    font-size: 14px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}


.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    background: #333;
}

.navbar .nav > li > a {
    color: white;
    background-color: #333;
}

.navbar .nav > li > a:hover {
    color: white;
    background-color: #282828;
}

.navbar .nav > li > a:active {
    color: white;
    background-color: #282828;
}

.navbar .nav > li > a:visited {
    color: white;
    background-color: #333;
}

.navbar .nav > li .dropdown:active {
    color: white;
    background-color: #282828;
}

.navbar .nav > li .dropdown-menu {
    margin: 0;
}

.navbar .nav > li:hover .dropdown-menu {
    display: block;
}

.navbar-nav > .active > a:hover {
    color: #555;
    background-color: #282828
}

.nav .navbar-nav .navbar-right > li > a:hover {
    color: white;
    background-color: #282828;
}